<h1>Ships Detail</h1>
<br>

<div class="card mb-3">
  <img *ngIf="esImagen" [src]="imageURL">
  <img *ngIf="!esImagen" src="assets/img/imagenNoEncontrada.jpg">
  <div class="card-body">

      <div class="container">
        <h5 class="card-title">{{infoStarship?.name}}</h5>
        <div class="row">
          <div class="col"><strong>Model: </strong> <label>{{infoStarship?.model}}</label> </div>
          <div class="col"><strong>Consumables: </strong><label>{{infoStarship?.consumables}}</label></div>
          <div class="w-100"></div>
          <div class="col"><strong>Credits: </strong><label>{{infoStarship?.cost_in_credits}}</label></div>
          <div class="col"><strong>Max Speed: </strong><label>{{infoStarship?.max_atmosphering_speed}}</label></div>
        </div>
        <div class="row">
          <div class="col"><strong>Manufacturer: </strong><label>{{infoStarship?.manufacturer}}</label> </div>
          <div class="col"><strong>Starship Class: </strong><label>{{infoStarship?.starship_class}}</label> </div>
          <div class="w-100"></div>
        </div>
      </div>
    <p class="card-text"></p>
    <p class="card-text"></p>
  </div>
</div>
<br>
<button (click)="regresar()" class="btn btn-dark">Back</button>
